@model NeocronWorldMap.Web.ViewModels.OutpostOwnershipViewModel

<div class="owners">
    <ul class="details @Model.FactionClass text">
        <li><h3>@Model.ClanName</h3></li>
        <li>Faction: @Model.FactionName</li>
        <li>Owned for: @Model.TimeOwnedFor</li>
        <li>Security Status: @Model.SecurityStatus</li>
    </ul>
</div>

<div class="owners gen-rep-details">
    <ul class="details">
        <li>
            <h3>Factions able to GenRep here:</h3>
        </li>
        @foreach (var faction in @Model.FactionsAbleToGenRep)
        {
            <li class="decorate">@faction</li>
        }
    </ul>
</div>
